<%= component_page do %>
  <%= component_header do %>
    <%= title "Premium" do %>
      <span class="inline-flex px-2 font-medium border border-orange-300 rounded-md bg-gradient-to-tr from-orange-200 via-yellow-100 to-orange-200 text-orange-800/80!">Premium</span>
    <% end %>
  <% end %>

  <div class="max-w-prose prose">
    <p><strong>The core components of Nitro Kit are free and Open Source.</strong> They will stay that way.<p>
    <p>It is my plan to offer a one-time payment Premium plan with a whole bunch of convenient examples, app layouts and more.</p>
    <p>That is still to come…</p>
    <p>If you would like to know follow Nitro Kit development and know when this becomes available, consider following me <a href="https://x.com/mikker">on X</a> or <a href="https://bsky.app/profile/mikker.dev">Bluesky</a> or signing up below:</p>
  </div>

  <%= render "common/newsletter_form" %>
<% end %>
