<%= component_page do %>
  <%= title "Variants" %>
  <%= lead "Just a little bit of magic." %>

  <div class="max-w-prose prose">
    <%= markdown %{
      Nitro Kit uses the term _variant_ for things that can have different presentations. Like a `Button` can be `primary` or `destructive` for example.

      ...
      }.strip_heredoc %>
  </div>
<% end %>

