@layer nitro-kit.base {
  :where([data-nk="container"]) {
    inline-size: 100%;
    min-inline-size: 0;
    margin-inline: auto;
  }
}

@layer nitro-kit.size {
  :where([data-nk="container"][data-size="sm"]) {
    max-inline-size: var(--nk-content-sm);
  }

  :where([data-nk="container"][data-size="md"]) {
    max-inline-size: var(--nk-content-md);
  }

  :where([data-nk="container"][data-size="lg"]) {
    max-inline-size: var(--nk-content-lg);
  }

  :where([data-nk="container"][data-size="xl"]) {
    max-inline-size: var(--nk-content-xl);
  }
}
