@layer nitro-kit.base {
  :where([data-nk="v-stack"]) {
    display: flex;
    min-width: 0;
    flex-direction: column;
    gap: var(--_nk-stack-gap);
  }
}

@layer nitro-kit.variant {
  :where([data-nk="v-stack"][data-align="start"]) {
    align-items: flex-start;
  }

  :where([data-nk="v-stack"][data-align="center"]) {
    align-items: center;
  }

  :where([data-nk="v-stack"][data-align="stretch"]) {
    align-items: stretch;
  }
}
