<div class="flex gap-4 items-center text-xs text-center">
  <div class="flex flex-col gap-4">
    <%= nk_avatar "dhh-racer.jpg", size: :sm %>
    <code>:sm</code>
  </div>
  <div class="flex flex-col gap-4">
    <%= nk_avatar "dhh-racer.jpg", size: :md %>
    <code>:md</code>
  </div>
  <div class="flex flex-col gap-4">
    <%= nk_avatar "dhh-racer.jpg", size: :lg %>
    <code>:lg</code>
  </div>
</div>
