<div class="flex gap-4 items-center text-xs text-center">
  <div class="flex flex-col gap-4">
    <%= nk_button "Extra small", size: :xs %>
    <code>:xs</code>
  </div>
  <div class="flex flex-col gap-4">
    <%= nk_button "Small", size: :sm %>
    <code>:sm</code>
  </div>
  <div class="flex flex-col gap-4">
    <%= nk_button "Medium", size: :md %>
    <code>:md</code>
  </div>
</div>
