<div class="flex flex-col gap-6 text-sm">
  <div class="space-y-2">
    <p><code>nk_button</code></p>
    <%= nk_button "Button" %>
  </div>
  <div class="space-y-2">
    <p><code>nk_primary_button</code></p>
    <%= nk_primary_button "Primary" %>
  </div>
  <div class="space-y-2">
    <p><code>nk_destructive_button</code></p>
    <%= nk_destructive_button "Destructive" %>
  </div>
  <div class="space-y-2">
    <p><code>nk_ghost_button</code></p>
    <%= nk_ghost_button "Ghost" %>
  </div>
</div>
