<div class="flex flex-col gap-4">
  <%= nk_checkbox label: "Unchecked" %>
  <%= nk_checkbox label: "Checked", checked: true %>
  <%= nk_checkbox label: "Indeterminate", id: "test-checky" %>
  <script>document.getElementById("test-checky").indeterminate = true</script>
</div>
