@import "tailwindcss";

@theme {
  /* We need these for Tailwind to pick up the vars */
  --color-foreground: #000;
  --color-background: #000;

  --color-border: #000;
  --color-ring: #000;
  --color-muted: #000;
  --color-muted-foreground: #000;
  --color-primary: #000;
  --color-primary-foreground: #000;
  --color-destructive: #000;
  --color-destructive-foreground: #000;
}

@layer base {
  :root,
  .light {
    --color-foreground: var(--color-zinc-950);
    --color-background: var(--color-white);

    --color-border: var(--color-zinc-300);
    --color-ring: var(--color-blue-300);
    --color-muted: var(--color-zinc-100);
    --color-muted-foreground: var(--color-zinc-500);
    --color-primary: var(--color-zinc-900);
    --color-primary-foreground: var(--color-zinc-950);
    --color-destructive: var(--color-red-500);
    --color-destructive-foreground: var(--color-red-700);
  }

  [data-theme="dark"] {
    --color-foreground: var(--color-zinc-100);
    --color-background: var(--color-zinc-950);

    --color-border: var(--color-zinc-700);
    --color-ring: var(--color-blue-700);
    --color-muted: var(--color-zinc-800);
    --color-muted-foreground: var(--color-zinc-400);
    --color-primary: var(--color-zinc-50);
    --color-primary-foreground: var(--color-white);
    --color-destructive: var(--color-red-500);
    --color-destructive-foreground: var(--color-red-700);
  }
}

@variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@layer base {
  * {
    @apply border-border min-w-0 ring-ring;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .container {
    @apply mx-auto max-w-6xl;
  }

  .prose {
  }

  .prose a {
    @apply text-primary underline hover:no-underline;
  }

  .prose p,
  .prose ul,
  .prose ol,
  .prose blockquote,
  .prose pre,
  .prose table {
    @apply mb-6;
  }

  .prose h1,
  .prose h2,
  .prose h3,
  .prose h4,
  .prose h5,
  .prose h6 {
    @apply font-bold;
  }

  .prose ul,
  .prose ol {
    @apply pl-6;
  }

  .prose ul li,
  .prose ol li {
    @apply mb-2;
  }

  .prose ul {
    @apply list-disc;
  }

  .prose ol {
    @apply list-decimal;
  }

  .prose ul ul,
  .prose ul ol,
  .prose ol ul,
  .prose ol ol {
    @apply mt-2;
  }
}

@layer utilities {
  .debug,
  .debug * {
    border: 1px solid rgba(255, 0, 0, 0.3);
  }
}
