<form
  action="https://buttondown.com/api/emails/embed-subscribe/computers"
  method="post"
  class="max-w-sm embeddable-buttondown-form"
>
  <input type="hidden" value="1" name="embed"/>

  <%= nk_field_group do %>
    <%= nk_field :email, type: "email", placeholder: "nitro@vroom.vroom" %>
    <%= nk_primary_button "Sign up", type: "submit" %>
  <% end %>
</form>
