<title>Nitro Kit</title>
<meta
  name="description"
  content="Generic UI components for your Ruby on Rails application."
>
<meta property="og:url" content="https://nitrokit.dev/">
<meta property="og:type" content="website">
<meta property="og:title" content="Nitro Kit">
<meta
  property="og:description"
  content="Generic UI components for your Ruby on Rails application."
>
<meta property="og:image" content="https://nitrokit.dev/og.png">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="nitrokit.dev">
<meta property="twitter:url" content="https://nitrokit.dev/">
<meta name="twitter:title" content="Nitro Kit">
<meta
  name="twitter:description"
  content="Generic UI components for your Ruby on Rails application."
>
<meta name="twitter:image" content="https://nitrokit.dev/og.png">
