<div class="p-5 space-y-8">
  <nav class="space-y-4">
    <ul role="menu">
      <% %w[install getting_started].each do |page| %>
        <%= render "common/sidebar_link", page: %>
      <% end %>
    </ul>
    <ul class="" role="menu">
      <% %w[
        accordion
        badge
        button
        card
        checkbox
        dropdown
        form
        icon
        radio
        toggle
      ].each do |component| %>
        <%= render "common/sidebar_link", page: component %>
      <% end %>
    </ul>
  </nav>
</div>
