<% is_current_page = current_page?(page_path(page)) %>
<li role="none">
  <%= link_to page.titlecase,
  page_path(page),
  role: "menuitem",
  aria: {
    current: is_current_page ? "page" : nil,
  },
  class:
    class_names(
      "block p-2 font-semibold hover:text-primary rounded-md hover:text-foreground",
      is_current_page ? "text-foreground" : "text-muted-foreground/80",
    ),
  data: {
    action: "sidebar#close",
  } %>
</li>
