<div class="p-5 space-y-8">
  <nav class="space-y-4">
    <ul role="menu">
      <% %w[
        introduction
        getting_started
        variants
      ].each do |page| %>
        <%= render "common/sidebar_link", page: %>
      <% end %>
    </ul>
    <ul class="" role="menu">
      <% {
        accordion: true,
        avatar: true,
        alert: true,
        badge: true,
        button: true,
        card: true,
        checkbox: true,
        combobox: false,
        datepicker: false,
        dialog: true,
        dropdown: true,
        icon: true,
        radio_button: true,
        select: true,
        switch: true,
        table: true,
        tabs: true,
        textarea: true,
        toast: false,
        tooltip: false,
        pagination: false
      }.each do |component, enabled| %>
        <%= render "common/sidebar_link", page: component.to_s, enabled: %>
      <% end %>
    </ul>
    <ul class="" role="menu">
      <% %w[
        form_builder
      ].each do |page| %>
        <%= render "common/sidebar_link", page: %>
      <% end %>
    </ul>
  </nav>
</div>
